<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/print.css" media="print" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title> {{ page.title }} </title>
  </head>

  <body>
   <header>
      <div class="inner">
        <a href="{{ site.baseurl }}/">
        <h1> {{ site.name }} </h1>
        <h2>Learning C++ addons for Node.js</h2>
        </a>
        <nav>
          <a id="home_nav" class="ghost-button-transition" href="/">Home</a>
          <a id="book_nav" class="ghost-button-transition" href="/book/">Book</a>
          <!--<a id="course_nav" class="ghost-button-transition" href="/course/">Video Course</a>-->
          <a class="ghost-button-transition" href="https://github.com/freezer333/nodecpp-demo">Code Tutorial</a>
          <a id="blog_nav" class="ghost-button-transition" href="/blog/">Blog</a>
          <script>
            var loc = window.location.pathname;
            var nav_id = "home_nav";
            if ( "{{ page.blog }}" ){
              nav_id = "blog_nav";
            }
            else if (loc.indexOf("/book") >= 0) {
              nav_id = "book_nav";
            }
            else if (loc.indexOf("/course") >= 0) {
              nav_id = "course_nav";
            }
            var nav = document.getElementById(nav_id);
            nav.className += nav.className ? ' active' : 'active';
          </script>
        </nav>
      </div>
    </header>

    <div id="content-wrapper">
      {% if page.sidebar %}
      
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <div class="book-sidebar">
            <h1>E-Book</h1>
            <p>Get the handbook for creating C++ addons. <br/><span class="tagline">Save yourself weeks of time!</span></p>
            <a href="{{ site.baseurl }}/book/">
              <img src="{{ site.baseurl }}/images/book-thumbnail-256.png"/>
            </a>
             <a style="margin-top:20px;" class="altButton" href="https://gum.co/dTVf" target="_blank">Buy Now!</a>
          </div>
        </aside>
      </div>
      {% else %}
       <section>
          
          {{ content }}

        </section>
      {% endif %} 
    </div>

  </body>
</html>
